$body-colour: #FFF2F2;
$bright: #FA7373; 
$background: #A8D3E0;
$shadow: #80B4C4;
$darker-shadow: #4F8B9E;

$large-circle: 170px;
$medium-circle: 145px; 
$small-circle: 110px;
$smallest-circle: 75px;
$highlight: 17px;
$highlight-small: 7px;