@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

body {
	top: 0;
	left: 0;
	margin: 0;
	background: $background;
}

//iPhone 

.cam-body {
	position: relative;
	background: $primary;
	height: 300px;
	width: 450px;
	margin: 225px auto;
	border-radius: 30px;
	box-shadow: 4px 0 3px 0 $shadow;
}

.light {
	position: absolute;
	background: $secondary;
	height: 20px;
	width: 20px;
	border-radius: 15px;
	margin: 35px 0 0 35px;
	//box-shadow: 3px 0 2px 0 $tertiary;
}